<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- DoubanFM -->
    <!--<add key="SpecifyAlbumPictureUrl" value="http://img3.douban.com/lpic/s6945216.jpg"/>-->
    <!--<add key="SpecifyAlbumPictureUrl" value="http://img3.douban.com/lpic/s4485515.jpg"/>-->
    <!--<add key="SpecifyAlbumPictureUrl" value="http://img3.douban.com/lpic/s4713256.jpg"/>-->
    <add key="SpecifyAlbumPictureUrl" value=""/>
    <add key="ColorFunctions.CoverColorDiff" value="0.05"/>
    <add key="ColorFunctions.ReviseParameter" value="0.1"/>
    <add key="ColorFunctions.RightSideWidth" value="0.1"/>
    <add key="ColorFunctions.TooDark" value="0.15"/>
    <add key="ColorFunctions.TooBright" value="0.4"/>
    <add key="ColorFunctions.HueOffset" value="10"/>
    <add key="ColorFunctions.ProgressBarReviseParameter" value="0.2"/>
    <add key="ColorFunctions.NotSaturateEnough" value="0.4"/>
    <add key="ColorFunctions.AlmostZeroSaturation" value="0.001"/>
    <add key="ColorFunctions.EnableColorWeight" value="true"/>
    <add key="ColorFunctions.FaceColor" value="#FFCDA38F"/>
    <add key="ColorFunctions.ZeroWeightFaceColorDifference" value="0.03"/>
    <add key="ColorFunctions.MinWeight" value="0.2"/>
    
    <!-- DoubanFM.Core -->
    <add key="Player.ChannelInfoExpireSeconds" value="432000"/>
    <add key="Player.ChannelInfoRetryCount" value="3"/>
    <add key="Player.ChannelInfoUrlFormat" value="http://doubanfm.azurewebsites.net/GetChannelInfo.aspx?version={0}"/>


    <!-- DoubanFM.Bass -->
    <add key="Bass.SampleFrequency" value="44100"/>
    <add key="Bass.LibraryPathX86" value="x86"/>
    <add key="Bass.LibraryPathX64" value="x64"/>
    <add key="Bass.PluginPathFormat" value="{0}\plugins"/>
    <add key="Bass.OpenFileConfig" value="BASS_DEFAULT"/>
    <add key="Bass.OpenUrlConfig" value="BASS_DEFAULT"/>
    <add key="Bass.InitFlags" value="BASS_DEVICE_DEFAULT"/>
    <add key="Bass.SetConfigOnInitialization" value="BASS_CONFIG_NET_TIMEOUT 15000|BASS_CONFIG_DEV_DEFAULT true"/>
    <add key="Bass.MaxFFT" value="BASS_DATA_AVAILABLE, BASS_DATA_FFT4096"/>
    <add key="Bass.GetFFTFrequencyIndexLength" value="4096"/>
    <add key="Bass.ChannelPositionRefreshRate" value="0.05"/>
  </appSettings>
</configuration>